/* Google Font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #0d0d0d;
    color: white;
}

/* HEADER */

header {
    width: 100%;
    padding: 0px 80px;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* LOGO */

.logo {
    width: 180px;
    filter: drop-shadow(0 0 10px rgba(24, 220, 232, 0.4));
}

.logo img {
    width: 170px;
}

/* NAVIGATION */

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    display: none;
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    left: 50%;
    transform: translateX(-40%);
    flex-direction: row;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.nav-links.active {
    display: flex;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    box-shadow:
        inset 0 5px 10px rgba(255, 255, 255, 0.08),
        0 10px 25px rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease;
}

nav a:hover {
    background: rgba(24, 220, 232, 0.15);
    border: 1px solid #00ffff;
    color: #00ffff;
    transform: translateY(-2px);
}

.menu-toggle {
    display: block;
    background: none;
    border: none;
    color: #00ffff;
    font-size: 30px;
    cursor: pointer;
}

/* SEARCH */

.search-container {
    position: sticky;
    top: 0;
    left: 50%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
    gap: 15px;
    padding: 15px 0;
    transform: translateX(-23%);
    background: rgba(13, 13, 13, 0.66);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.search-container input {
    width: 700px;
    padding: 18px 25px;
    border: 1px solid rgba(24, 220, 232, 0.15);
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.08);
    color: white;
    font-size: 1rem;
    outline: none;
    box-shadow:
        inset 0 5px 10px rgba(255, 255, 255, 0.08),
        0 10px 25px rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease;
}

.search-container input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.search-container button {
    border: none;
    border-radius: 50px;
    padding: 18px 20px;
    background: #00ffff;
    color: black;
    font-weight: 700;
    cursor: pointer;
    box-shadow:
        inset 0 5px 10px rgba(0, 0, 0, 0.743),
        0 10px 25px rgba(0, 0, 0, 0.86);
    transition: all 0.3s ease;
}

.search-container button:hover {
    transform: translateY(-2px) scale(1.08);
    box-shadow: 0 0 20px #00ffff;
}

/* BRANDS */

.car-brands {
    margin-top: 80px;
    text-align: center;
}

.car-brands h2 {
    margin-bottom: 40px;
    font-size: 1.8rem;
    color: #00ffff;
}

.brand-header {
    margin: 0px 40px;
    margin-top: 70px;
    color: white;
}

.brand-header h2 {
    font-size: 24px;
    font-weight: 600;
}

/* BRAND CARDS */

.brand-grid {
    display: grid;
    grid-template-columns: repeat(5, 240px);
    gap: 30px;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
}

.brand-card {
    width: 240px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-decoration: none;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    box-shadow:
        inset 0 5px 10px rgba(255, 255, 255, 0.08),
        0 10px 25px rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease;
}

.brand-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    transition: 0.3s ease;
}

.brand-card span {
    color: white;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s ease;
}

.brand-card:hover {
    border: 1px solid #00ffff;
    box-shadow:
        0 0 20px rgba(0, 255, 255, 0.35),
        inset 0 5px 10px rgba(255, 255, 255, 0.08);
    transform: translateY(-6px);
}

.brand-card:hover img {
    transform: scale(1.1);
}

.brand-card:hover span {
    color: #00ffff;
}

img[alt="Acura Logo"] {
    width: 160px;
}

img[alt="Alfa-Romeo Logo"] {
    width: 160px;
}

img[alt="Aston Martin Logo"] {
    width: 160px;
}

img[alt="Audi Logo"] {
    width: 150px;
}

img[alt="Bently Logo"] {
    width: 150px;
}

img[alt="Bugatti Logo"] {
    width: 150px;
}

img[alt="BYD Logo"] {
    width: 150px;
}

img[alt="Cadillac Logo"] {
    width: 140px;
}

img[alt="Chevrolet Logo"] {
    width: 150px;
}

img[alt="Chrysler Logo"] {
    width: 190px;
}

img[alt="Dodge Logo"] {
    width: 160px;
}

img[alt="Ford Logo"] {
    width: 150px;
}

img[alt="Genesis Logo"] {
    width: 160px;
}

img[alt="Geely Logo"] {
    width: 140px;
}

img[alt="Honda Logo"] {
    width: 160px;
}

img[alt="Hyundai Logo"] {
    width: 140px;
}

img[alt="Infiniti Logo"] {
    width: 140px;
}

img[alt="Jaguar Logo"] {
    width: 160px;
}

img[alt="Jeep Logo"] {
    width: 150px;
}

img[alt="KIA Logo"] {
    width: 150px;
}

img[alt="Land-Rover Logo"] {
    width: 160px;
}

img[alt="Lexus Logo"] {
    width: 160px;
}

img[alt="Lotus Logo"] {
    width: 160px;
}

img[alt="Lucid-Motors Logo"] {
    width: 170px;
}

img[alt="Maserati Logo"] {
    width: 180px;
}

img[alt="Mazda Logo"] {
    width: 160px;
}

img[alt="McLaren Logo"] {
    width: 160px;
}

img[alt="Nissan Logo"] {
    width: 160px;
}

img[alt="Pagani Logo"] {
    width: 190px;
}

img[alt="Polestar Logo"] {
    width: 160px;
}

img[alt="Rivian Logo"] {
    width: 160px;
}

img[alt="Rolls-Royce Logo"] {
    width: 160px;
}

img[alt="Seat Logo"] {
    width: 150px;
}

img[alt="Skoda Logo"] {
    width: 180px;
}

img[alt="Subaru Logo"] {
    width: 150px;
}

img[alt="Suzuki Logo"] {
    width: 180px;
}

img[alt="Toyota Logo"] {
    width: 150px;
}

img[alt="Volvo-logo"] {
    width: 190px;
}

/* 2ND SEARCH */
.search-container2 {
    position: relative;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
    background: rgba(13, 13, 13, 0.66);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.search-container2 input {
    width: 700px;
    padding: 18px 25px;
    border: 1px solid rgba(24, 220, 232, 0.15);
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.08);
    color: white;
    font-size: 1rem;
    outline: none;
    box-shadow:
        inset 0 5px 10px rgba(255, 255, 255, 0.08),
        0 10px 25px rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease;
}

.search-container2 input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.search-container2 button {
    border: none;
    border-radius: 50px;
    padding: 18px 20px;
    background: #00ffff;
    color: black;
    font-weight: 700;
    cursor: pointer;
    box-shadow:
        inset 0 5px 10px rgba(0, 0, 0, 0.743),
        0 10px 25px rgba(0, 0, 0, 0.86);
    transition: all 0.3s ease;
}

.search-container2 button:hover {
    transform: translateY(-2px) scale(1.08);
    box-shadow: 0 0 20px #00ffff;
}

/* -------------------- FOOTER SECTION ------------------- */

.footer-section {
    width: 100%;
    margin-top: 50px;
    padding: 70px 8% 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.08);
    border-top: 1px solid rgba(0, 255, 255, 0.25);
    box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    color: white;
}

/* -------------------- LOGO ------------------- */

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    width: 300px;
    filter: drop-shadow(0 0 12px #00ffff5c);
}

/* -------------------- FOOTER CONTEXT ------------------- */

.footer-context {
    text-align: center;
    max-width: 650px;
    margin-bottom: 30px;
}

.footer-context h2 {
    margin-bottom: 12px;
    font-size: 40px;
    font-weight: 600;
    color: #00ffff;
}

.footer-context p {
    font-size: 20px;
    line-height: 1.1;
    color: rgb(255, 255, 255);
}

/* -------------------- FOOTER COLUMNS ------------------- */

.footer-columns {
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
}

/* Individual columns */

.footer-columns>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

/* Column headings */

.footer-columns h4 {
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: #00ffff;
    text-align: center;
}

/* Links */

.footer-columns a {
    width: fit-content;
    text-decoration: none;
    font-size: 20px;
    text-align: left;
    color: rgb(255, 255, 255);
    transition:
        color 0.25s ease,
        transform 0.25s ease;
}

.footer-columns a:hover {
    color: #00ffff;
    transform: translateX(5px);
}

.footer-bottom {
    width: 100%;
    max-width: 1200px;
    margin: 30px auto 0;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
}

.heart {
    color: #00ffff;
    font-size: 16px;
}

/* ----------- NAVBAR RESPONSIVENESS ----------- */

@media (max-width: 700px) {

    header {
        padding: 0 15px;
    }

    .top-bar {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    /* LOGO */

    .logo {
        width: 120px;
    }

    .logo img {
        width: 120px;
    }

    /* SEARCH + BURGER ROW */

    .search-container {
        width: 90%;
        display: flex;
        justify-content: left;
        gap: 8px;
        padding: 10px 0;
        transform: translateX(-15%);
        margin-right: auto;
    }

    .search-container input {
        width: 90%;
        min-width: 0;
        padding: 14px 18px;
        font-size: 0.9rem;
    }

    .search-container button {
        padding: 14px 16px;
        font-size: 0.85rem;
    }

    /* BURGER */

    nav {
        position: absolute;
        top: 97px;
        right: 0;
        display: flex;
        align-items: center;
    }

    .menu-toggle {
        font-size: 28px;
        padding: 0;
    }

    /* DROPDOWN LINKS */

    .nav-links {
        top: 50px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        width: 180px;
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
    }

    .nav-links li {
        width: 100%;
    }

    nav a {
        width: 100%;
        text-align: center;
        font-size: 15px;
        padding: 10px 15px;
    }
}

/* -------------FOOTER RESPONSIVENESS------------ */
@media (max-width: 700px) {
    .footer-section {
        padding: 40px 6% 30px;
        margin-top: 30px;
    }

    .footer-logo img {
        width: 150px;
    }

    .footer-context {
        margin-bottom: 20px;
    }

    .footer-context h2 {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .footer-context p {
        font-size: 15px;
    }

    .footer-columns {
        padding-top: 25px;
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .footer-columns h4 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .footer-columns a {
        font-size: 15px;
    }

    .footer-columns>div {
        gap: 8px;
    }

    .footer-bottom {
        margin-top: 25px;
        padding-top: 15px;
        font-size: 11px;
        gap: 10px;
    }

    .heart {
        font-size: 13px;
    }
}